---
layout: base.njk
title: Aktuell
eleventyNavigation:
  key: Aktuell
  
---

<div class="p-4 p-md-5 mb-5 text-white rounded bg-black mt-5">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">{{title}}</h1>
        <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</div>

